/* スクロールの幅の設定 */
::-webkit-scrollbar {
  width: 3vw;
  height: 5vw;
}

/* スクロールの背景の設定 */
::-webkit-scrollbar-track {
  /* border-radius: 5px; */
  box-shadow: 10vw 10vw 5vw rgba(255, 255, 255, 0) inset;
}

/* スクロールのつまみ部分の設定 */
::-webkit-scrollbar-thumb {
  border-radius: 0.5vw;
  background: linear-gradient(to bottom, #8d7241 0%,#f7ce18b4 25%,#fefff3 50%,#bd9f4c 75%,#99721d 100%);
}

body{
  transition: 1.0s ;
  background:rgb(102, 71, 42);
}

#scroll {
  width:94vw;
  height:6000px;
  position:absolute;
  top:0;
  left:3vw;
  background-color: rgb(77,56,36);
  z-index:-1;
}

canvas {
  position: fixed;
  left: 3vw;
  top: 0;
  z-index: -1;
}
#main {
  min-height: 6000px;
}